[data-dropdown] {
  position: relative;
}

[data-dropdown] .dropdown-menu {
  display: none;
}

[data-dropdown]:hover .dropdown-menu,
[data-dropdown].active .dropdown-menu {
  display: block;
  animation: show-up 0.3s;
}

.dropdown-menu {
  position: absolute;
  top: 45px;
  background: #2b2b2b;
  border-radius: 6px;
  z-index: 10;
}

.dropdown-menu::before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #b9b9b9;
}

.dropdown-menu li a:hover {
  color: #b9b9b9;
}

@media (max-width: 700px) {
  [data-dropdown] .dropdown-menu {
    display: block;
    animation: show-up 0.3s;
  }
}
